# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.pyd
*.sqlite3

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb
*.ipynb_checkpoints

# VS Code
.vscode/

.venv/

# System
.DS_Store
Thumbs.db
